In [1]:
foods=("rice","biriyani","dosa","idli")
myfood=list(foods)
myfood[2]="rava"
foods=tuple(myfood)
foods

('rice', 'biriyani', 'rava', 'idli')

In [6]:
tup=tuple("quick")
tup

('q', 'u', 'i', 'c', 'k')

In [63]:
a=[1,2,3,4]

In [89]:
size=5
for i in range(size):
    for j in range(size):
        #print * completely in first and last row
        #print * only in first and last position in other rows
        if i==0 or i==size-1 or j==0 or j==size-1:
            print('*',end='')
        else:
            print(' ',end='')
            print()

******


**


**


******

In [134]:
for i in range(0, 5):
    for j in range(0, 5):
        print("*", end=" ")
    print( )

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [131]:
n=4
for i in range(n):
    for j in range(n-i-1):
        print(' ',end='')
    for j in range(2*i+1):
        print('*',end='')
    print()

   *
  ***
 *****
*******

In [129]:
n=4
for i in range(n):
    for j in range(i):
        print(' ',end='')
    for j in range(2*(n-i)-1):
        print('*',end='')
    print()

*******
 *****
  ***
   *

In [132]:
n=4
for i in range(n):
    for j in range(n-i-1):
        print(' ',end='')
    for j in range(2*i+1):
        print('*',end='')
    print()
for i in range(n):
    for j in range(i):
        print(' ',end='')
    for j in range(2*(n-i)-1):
        print('*',end='')
    print()

   *
  ***
 *****
*******
*******
 *****
  ***
   *

In [145]:
n=5
for i in range(n):
    for j in range(n-i-1):
        print(' ',end='')
    for j in range(2*i+1):
        if j==0 or j==2*i:
            print('*',end='')
        else:
            if i==n-1:
                print('*',end='')
            else:
                print(' ',end='')
    print()

    *
   * *
  *   *
 *     *
*********