In [3]:
t=(20)
t

20

In [2]:
t=5,
t

(5,)

In [4]:
t=(100,)
t

(100,)

In [5]:
roots=(91,2,3,4,5,6,7,8,9,10)
len(roots)

10

In [7]:
t1=(10,20,30,(40,50,60),100)
t1[1]

20

In [8]:
t1[3][1]

50

In [9]:
t=tuple('python')
t

('p', 'y', 't', 'h', 'o', 'n')

In [10]:
items=[100,200,300,400]
t2=tuple(items)
t2

(100, 200, 300, 400)

In [12]:
t1=tuple(input("enter elements"))

enter elementsabcde

In [13]:
t1

('a', 'b', 'c', 'd', 'e')

In [15]:
mytuple=eval(input("enter tuple elements"))

enter tuple elements(10,'ravi',10.5)

In [16]:
mytuple

(10, 'ravi', 10.5)

In [23]:
qualifications=("B.A","M.A","B.Sc","M.Sc","B.Com")
for q in qualifications:
    print(q)

B.A
M.A
B.Sc
M.Sc
B.Com

In [24]:
qualifications=("B.A","M.A","B.Sc","M.Sc","B.Com")
for i in range(len(qualifications)):
    print("index:",i,'',qualifications[i])

index: 0  B.A
index: 1  M.A
index: 2  B.Sc
index: 3  M.Sc
index: 4  B.Com

In [26]:
t1=(10,20,30)
t2=('a','b','c')
t3=t1+t2
t3

(10, 20, 30, 'a', 'b', 'c')

In [27]:
t1+(20)

TypeError: can only concatenate tuple (not "int") to tuple

In [28]:
t1+20

TypeError: can only concatenate tuple (not "int") to tuple

In [29]:
t1=(10,20,30)
t1+(50,)

(10, 20, 30, 50)

In [35]:
t1=("do","it")
t1*3

('do', 'it', 'do', 'it', 'do', 'it')

In [36]:
data=(10,20,30,1,7,9,100,51,75,80)
data2=data[4:-4]
print(data2)

(7, 9)

In [37]:
data=(10,20,30,1,7,9,100,51,75,80)
print(data[1:6])
print(data[4:-2])
print(data[0:4])
print(data[::-1])
print(data[::-2])
print(data[2:10:2])

(20, 30, 1, 7, 9)
(7, 9, 100, 51)
(10, 20, 30, 1)
(80, 75, 51, 100, 9, 7, 1, 30, 20, 10)
(80, 51, 9, 1, 20)
(30, 7, 100, 75)

In [43]:
tp1=(11,12,15,20,8,9,10)
tp1[2:5]*3

(15, 20, 8, 15, 20, 8, 15, 20, 8)

In [44]:
tp1[2:5]+(500,1000)

(15, 20, 8, 500, 1000)

In [46]:
a=(10,20)
b=(10,20)
c=(20,10)
a==b

True

In [47]:
a=(10,20)
b=(10,20)
c=(20,10)
a==c

False

In [48]:
a=(10,20)
b=(10,20)
c=(20,10)
d=(20.0,10.0)
c==d

True

In [49]:
a=(10,20)
b=(10,20)
c=(20,10)
a<c

True

In [51]:
t1=(10,20,30)
del t1[2]

TypeError: 'tuple' object doesn't support item deletion

In [53]:
t1=(10,20,30)
del t1
print(t1)

NameError: name 't1' is not defined

In [54]:
book=('BOOK','let us python','DP',500)
len(book)

4

In [2]:
salary=(1000,1500,800,700,1200)
max(salary)

1500

In [56]:
fruits=("mango","apple","pine apple","guava")
max(fruits)

'pine apple'

In [57]:
t1=(10,20,30,(40,50,60),70)
max(t1)

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [59]:
salary=(1000,1500,800,700,1200)
min(salary)

700

In [60]:
fruits=("mango","apple","pine apple","guava")
min(fruits)

'apple'

In [61]:
salary=(1000,1500,800,700,1200)
salary.index(800)

2

In [62]:
salary=(1000,1500,800,700,1200)
salary.index(5000)

ValueError: tuple.index(x): x not in tuple

In [63]:
tup=tuple({1:"one",2:"two"})
tup

(1, 2)

In [64]:
t=tuple(10)

TypeError: 'int' object is not iterable

In [65]:
val=(10,20,30)
a,b,c=val
b=30
val=(a,b,c)
val

(10, 30, 30)

In [67]:
foods=("rice","dosa","idli","mushroom","paneer")
myfood=list(foods)
myfood[2]="biriyani"
foods=tuple(myfood)
foods

('rice', 'dosa', 'biriyani', 'mushroom', 'paneer')